/*.contenedor{
  background: #d1d1d1;
  width: 950px;
  padding: 40px 40px;
  margin: 0 auto;
}*/

#fotos {
  background: #d1d1d1; /*gris claro */
  width: 1000px;
  padding: 40px 40px;
  margin: 0 auto;
}

.contenedorFoto{
  display: inline-block;
}

.cajaImg{
  height: 150px;
  background: #313033;
  border: 1px solid black;
  margin: 0 auto;
  padding: 5px 5px;
  display: inline-block;
}

.subMenu{
 +  background-color: yellow;
 +  height: 50px;
 +  padding-top: 5px;
 +  padding-left: 5px;
 +  margin: 0;
 +}
